div.animation {
    width: 100%;
    height: 100vh;
    background-color: #25c1ff;
    position: fixed;
    top: 0;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #first {
    stroke-dasharray: 436px;
    stroke-dashoffset: 436px;
    animation: fadeInside 0.6s ease-in forwards 0.2s;
  }
  #second {
    stroke-dasharray: 211px;
    stroke-dashoffset: 211px;
    animation: fadeInside 0.6s ease-in forwards 0.5s;
  }
  #third {
    stroke-dasharray: 413px;
    stroke-dashoffset: 413px;
    animation: fadeInside 0.6s ease-in forwards 0.8s;
  }
  #forth {
    stroke-dasharray: 346px;
    stroke-dashoffset: 346px;
    animation: fadeInside 0.6s ease-in forwards 1.1s;
  }
  #fifth {
    stroke-dasharray: 326px;
    stroke-dashoffset: 326px;
    animation: fadeInside 0.6s ease-in forwards 1.4s;
  }
  #sixth {
    stroke-dasharray: 358px;
    stroke-dashoffset: 358px;
    animation: fadeInside 0.6s ease-in forwards 1.7s;
  }
  #seventh {
    stroke-dasharray: 407px;
    stroke-dashoffset: 407px;
    animation: fadeInside 0.6s ease-in forwards 2.0s;
  }
  #eighth {
    stroke-dasharray: 217px;
    stroke-dashoffset: 217px;
    animation: fadeInside 0.6s ease-in forwards 2.2s;
  }
  #ninth {
    stroke-dasharray: 1152px;
    stroke-dashoffset: 1152px;
    animation: fadeInside 0.6s ease-in forwards 0.2s;
  }
  #ten {
    stroke-dasharray: 1576px;
    stroke-dashoffset: 1576px;
    animation: fadeInside 0.6s ease-in forwards 0.5s;
  }
  #ele {
    stroke-dasharray: 645px;
    stroke-dashoffset: 645px;
    animation: fadeInside 0.6s ease-in forwards 0.8s;
  }
  #twe {
    stroke-dasharray: 1502px;
    stroke-dashoffset: 1502px;
    animation: fadeInside 0.6s ease-in forwards 1.1s;
  }
  #thr {
    stroke-dasharray: 1434px;
    stroke-dashoffset: 1434px;
    animation: fadeInside 0.6s ease-in forwards 1.4s;
  }
  svg {
    animation: fill 1s ease-in forwards 1.4s;
  }

  @keyframes fadeInside {
    to {
      stroke-dashoffset: 0px;
    }
  }
  @keyframes fill {
    from {
      fill: transparent;
    }
    to {
      fill: white;
    }
  }